*{
    padding: 2px;
    align-items: center;
    
}

body{
    background-image: linear-gradient(90deg, white,  yellowgreen, yellow, white);
}

#soma {
    color: red;
    border: 2px solid gray;
    border-radius: 25px;
}
#sub {
    color: blue;
    border: 2px solid gray;
    border-radius: 25px;
}

#div {
    color: yellowgreen;
    border: 2px solid gray;
    border-radius: 25px;
}

#mult {
    color: darkmagenta;
    border: 2px solid gray;
    border-radius: 25px;
}